body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #cc6e2f, #000a62);
  color: rgba(46, 253, 70, 0.845);
  text-align: center;
}

/* Контейнер */
.container {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  margin: 30px auto;
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Инпуты */
input, select {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

/* Кнопки */
button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #ff7b54;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: #ff5722;
}

/* Сообщения */
#message {
  min-height: 20px;
  font-weight: bold;
}

.success { color: #4caf50; }
.error { color: #ff5252; }
.hint { color: #ffd54f; }

/* Список */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgba(255,255,255,0.1);
  margin: 5px 0;
  padding: 8px;
  border-radius: 6px;
  animation: fadeIn 0.5s;
}

/* Анимация */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.hidden {
  display: none;
}

/* 📱 Адаптив */
@media (max-width: 600px) {
  h1 {
    font-size: 22px;
  }

  input, button, select {
    width: 100%;
    box-sizing: border-box;
  }
}

input.error-input {
  border: 2px solid #ff5252;
  background: rgba(255, 82, 82, 0.1);
}